
.App {
  min-height: 100vh;
  text-align: center;
  background-image: url("./img/background.png");
  color: #fefefc;
  padding: 2em;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.buttonMain, .play-screen-buttons, .add-new-villager {
  background-color: #ECCC45;
  color: #563605;
  border: .1em solid #563605;
  border-radius: 2em;
  font-size: 20px;
  font-weight: bolder;
  padding: .5em;
  margin: 1em;
  width: 60%;
  cursor: pointer;
}

.ac-logo {
  margin-bottom: 1em;
}



.play, .stats, .addVillager {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 2em;
}

.play h1, .play h2, .stats h1, .addVillager h1 {
  color: #406969;
}

.picture {
  display: inline;
  width: 75vw;
  margin: 1em 0 1em -1em;
}

.play button, .stats button, .addVillager button {
  background-color: #5adbc5;
  color: #ecefd6;
  font-weight: bolder;
  border-radius: 2em;
  font-size: 15px;
  border: .1em solid #406969;
  font-weight: bolder;
  padding: .5em;
  margin: 1em;
  width: 40%;
  cursor: pointer;
}

.play button:hover, .stats button:hover {
  background-color: #ecefd6;
  color: #80EFF0;
  border: .15em solid #5adbc5;
}

#picture-needed {
  border: .25em solid palevioletred !important;
}

#picture-needed-table {
  font-weight: bolder;
  color: palevioletred !important;
}

.play p {
  color: #563605; 
}

.play #pink {
  color: palevioletred !important;
}
