.App {
  text-align: center;
  display: block;
  margin: auto;
}

.App-header {
  background-color: #80EFF0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f99694;
}

.buttonMain {
  background-color: #ECCC45;
  color: #563605;
  border: .1em solid #563605;
  border-radius: 2em;
  font-size: 20px;
  font-weight: bolder;
  padding: .5em;
  margin: 1em;
  width: 60%;
  cursor: pointer;
}

.ac-logo {
  margin-bottom: 1em;
}
