.App {
  min-height: 100vh;
  text-align: center;
  background-color: #80EFF0;
  color: white;
  padding: 2em;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.buttonMain {
  background-color: #ECCC45;
  color: #563605;
  border: .1em solid #563605;
  border-radius: 2em;
  font-size: 20px;
  font-weight: bolder;
  padding: .5em;
  margin: 1em;
  width: 60%;
  cursor: pointer;
}

.ac-logo {
  margin-bottom: 1em;
}

.play, .stats {
  color: #80EFF0;
  background-color: white;
  padding: 2em;
}

.play button {
  margin-top: 1em;
  background-color: #80EFF0;
  font-weight: bolder;
}

.play button:hover {
  background-color: white;
  color: #80EFF0;
  border: .15em solid #80EFF0;
}